{% extends './base.html' %}
{% block title %}Login{% endblock %}  

{% block customCSS %} 
<link rel="stylesheet" href="{{ url_for('static', filename= 'csss/login.css') }}">
{% endblock %}


{% block body %}
<form class="form-signin" action="/functions_movie" method="POST">
    <img class="mb-4" src="https://cdn-icons-png.flaticon.com/512/1974/1974054.png" alt="" width="72" height="57">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <br />
    {% for message in messages %}
    <div class="alert alert-primary alert-dismissible" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h1 class="h3 mb-3 fw-normal">Function</h1>

    <div class="form-floating">
      <input type="text" class="form-control" name="id_movie" placeholder="text" required>
      <label for="floatingInput">id_movie</label>
    </div>
    <div class="form-floating">
      <input type="datetime-local" class="form-control" name="DateFunction" placeholder="text" required>
      <label for="floatingPassword">DateFunction</label>
    </div>
<br>
    <button class="w-100 btn btn-lg btn-primary" type="submit">ok</button>
    <br>
    <br>
    <a href="/sing_up">Sing up</a>
    <br>
    <a href="/home">Billboard</a>
    <br>
    <a href="/upload_movie">Upload movie</a>
    <br>
    <a href="/login">Login</a>
  </form>

{% endblock %}