{% extends './base.html' %}
{% block title %}Upload Movie{% endblock %}  

{% block customCSS %} 
<link rel="stylesheet" href="{{ url_for('static', filename= 'csss/login.css') }}">
{% endblock %}


{% block body %}
<form class="form-signin" action="/upload_movie" method="POST">
    <a href="/login"><img class="mb-4" src="https://cdn-icons-png.flaticon.com/512/1974/1974054.png" alt="" width="72" height="57" ></a>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <br />
    {% for message in messages %}
    <div class="alert alert-primary alert-dismissible" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    
    <h1 class="h3 mb-3 fw-normal">Upload Movie</h1>
    <div class="form-floating">
      <input type="text" class="form-control" name="title" required>
      <label >Title</label>
    </div>
    <br>

    <div class="form-floating">
      <input type="text" class="form-control" name="img" required>
      <label >img</label>
    </div>
    <br>

    <div class="form-floating">
      <input type="text" class="form-control" name="classification" required>
      <label >Classification</label>
    </div>
    <br>  
    <button class="w-100 btn btn-lg btn-primary" type="submit">Add</button>
    <br>
    <a href="/login">return</a>
  </form>

{% endblock %}